<section>

    <div class="container mt-5">
        <div class="row ">
          
            {{!-- <div class="col-md-12" style="background: red;">
                <h1>jsdskdj</h1>
            </div> --}}
             <h1>Arabian</h1>
            {{#each product}}
           
            <div class="col-md-3 mt-5 mb-5">
                <div class="card" style="width: 18rem;cursor: pointer;">
                    <img src="{{this.image}}" class="card-img-top" alt="Image Not found" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">{{this.prize}}</p>
                        </div>
                        <p class="card-text">{{this.place}}</p>
                    </div>
                </div>
            </div>
            {{/each}}

            <h1>Biryani</h1>
            {{#each product1}}
            
            <div class="col-md-3 mt-5 mb-5">
                <div class="card" style="width: 18rem;cursor: pointer">
                    <img src="{{this.image}}" class="card-img-top" alt="Image Not found" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">{{this.prize}}</p>
                        </div>
                        <p class="card-text">{{this.place}}</p>
                    </div>
                </div>
            </div>
            {{/each}}

            <h1>North Indian</h1>
            {{#each product2}}
            
            <div class="col-md-3 mt-5 mb-5">
                <div class="card" style="width: 18rem;cursor: pointer">
                    <img src="{{this.image}}" class="card-img-top" alt="Image Not found" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">{{this.prize}}</p>
                        </div>
                        <p class="card-text">{{this.place}}</p>
                    </div>
                </div>
            </div>
            {{/each}}



        </div>

    </div>

</section>